In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/clinvar-conflicting/clinvar_conflicting.csv')
df.head(5)

/tmp/ipykernel_33/2602328616.py:1: DtypeWarning: Columns (0,38,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/kaggle/input/clinvar-conflicting/clinvar_conflicting.csv')

,CHROM,POS,REF,ALT,AF_ESP,AF_EXAC,AF_TGP,CLNDISDB,CLNDISDBINCL,CLNDN,...,SIFT,PolyPhen,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,LoFtool,CADD_PHRED,CADD_RAW,BLOSUM62
0,1,1168180,G,C,0.0771,0.10020,0.1066,MedGen:CN169374,NaN,not_specified,...,tolerated,benign,NaN,NaN,NaN,NaN,NaN,1.053,-0.208682,2.0
1,1,1470752,G,A,0.0000,0.00000,0.0000,"MedGen:C1843891,OMIM:607454,Orphanet:ORPHA9877...",NaN,Spinocerebellar_ataxia_21|not_provided,...,deleterious_low_confidence,benign,NaN,NaN,NaN,NaN,NaN,31.000,6.517838,-3.0
2,1,1737942,A,G,0.0000,0.00001,0.0000,"Human_Phenotype_Ontology:HP:0000486,MedGen:C00...",NaN,Strabismus|Nystagmus|Hypothyroidism|Intellectu...,...,deleterious,probably_damaging,NaN,NaN,NaN,NaN,NaN,28.100,6.061752,-1.0
3,1,2160305,G,A,0.0000,0.00000,0.0000,"MedGen:C1321551,OMIM:182212,SNOMED_CT:83092002...",NaN,Shprintzen-Goldberg_syndrome|not_provided,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.500,3.114491,NaN
4,1,2160305,G,T,0.0000,0.00000,0.0000,"MedGen:C1321551,OMIM:182212,SNOMED_CT:83092002",NaN,Shprintzen-Goldberg_syndrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.700,4.766224,-3.0

In [3]:
df.shape

(65188, 46)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65188 entries, 0 to 65187
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CHROM               65188 non-null  object
 1   POS                 65188 non-null  int64
 2   REF                 65188 non-null  object
 3   ALT                 65188 non-null  object
 4   AF_ESP              65188 non-null  float64
 5   AF_EXAC             65188 non-null  float64
 6   AF_TGP              65188 non-null  float64
 7   CLNDISDB            65188 non-null  object
 8   CLNDISDBINCL        167 non-null    object
 9   CLNDN               65188 non-null  object
 10  CLNDNINCL           167 non-null    object
 11  CLNHGVS             65188 non-null  object
 12  CLNSIGINCL          167 non-null    object
 13  CLNVC               65188 non-null  object
 14  CLNVI               27659 non-null  object
 15  MC                  64342 non-null  object
 16  ORIGIN              65188 non-null  int64
 17  SSR                 130 non-null    float64
 18  CLASS               65188 non-null  int64
 19  Allele              65188 non-null  object
 20  Consequence         65188 non-null  object
 21  IMPACT              65188 non-null  object
 22  SYMBOL              65172 non-null  object
 23  Feature_type        65174 non-null  object
 24  Feature             65174 non-null  object
 25  BIOTYPE             65172 non-null  object
 26  EXON                56295 non-null  object
 27  INTRON              8803 non-null   object
 28  cDNA_position       56304 non-null  object
 29  CDS_position        55233 non-null  object
 30  Protein_position    55233 non-null  object
 31  Amino_acids         55184 non-null  object
 32  Codons              55184 non-null  object
 33  DISTANCE            108 non-null    float64
 34  STRAND              65174 non-null  float64
 35  BAM_EDIT            31969 non-null  object
 36  SIFT                24836 non-null  object
 37  PolyPhen            24796 non-null  object
 38  MOTIF_NAME          2 non-null      object
 39  MOTIF_POS           2 non-null      float64
 40  HIGH_INF_POS        2 non-null      object
 41  MOTIF_SCORE_CHANGE  2 non-null      float64
 42  LoFtool             60975 non-null  float64
 43  CADD_PHRED          64096 non-null  float64
 44  CADD_RAW            64096 non-null  float64
 45  BLOSUM62            25593 non-null  float64
dtypes: float64(12), int64(3), object(31)
memory usage: 22.9+ MB

In [5]:
df.isna().sum()

CHROM                     0
POS                       0
REF                       0
ALT                       0
AF_ESP                    0
AF_EXAC                   0
AF_TGP                    0
CLNDISDB                  0
CLNDISDBINCL          65021
CLNDN                     0
CLNDNINCL             65021
CLNHGVS                   0
CLNSIGINCL            65021
CLNVC                     0
CLNVI                 37529
MC                      846
ORIGIN                    0
SSR                   65058
CLASS                     0
Allele                    0
Consequence               0
IMPACT                    0
SYMBOL                   16
Feature_type             14
Feature                  14
BIOTYPE                  16
EXON                   8893
INTRON                56385
cDNA_position          8884
CDS_position           9955
Protein_position       9955
Amino_acids           10004
Codons                10004
DISTANCE              65080
STRAND                   14
BAM_EDIT              33219
SIFT                  40352
PolyPhen              40392
MOTIF_NAME            65186
MOTIF_POS             65186
HIGH_INF_POS          65186
MOTIF_SCORE_CHANGE    65186
LoFtool                4213
CADD_PHRED             1092
CADD_RAW               1092
BLOSUM62              39595
dtype: int64

In [6]:
df.drop(['CLNDISDBINCL' ,'CLNDNINCL' ,'CLNSIGINCL' ,'CLNVI' ,'SSR' ,'INTRON' ,'DISTANCE' 
         ,'BAM_EDIT' ,'SIFT' ,'PolyPhen' ,'MOTIF_NAME' ,'MOTIF_POS' ,'HIGH_INF_POS' 
         ,'MOTIF_SCORE_CHANGE' ,'BLOSUM62'] ,axis = 1 ,inplace = True)

In [7]:
df.dropna(subset=['MC'], inplace=True)
df.dropna(subset=['SYMBOL'], inplace=True)
df.dropna(subset=['Feature_type'], inplace=True)
df.dropna(subset=['Feature'], inplace=True)
df.dropna(subset=['BIOTYPE'], inplace=True)
df.dropna(subset=['STRAND'], inplace=True)
df.dropna(subset=['CADD_PHRED'], inplace=True)
df.dropna(subset=['CADD_RAW'], inplace=True)
df.isna().sum()

CHROM                  0
POS                    0
REF                    0
ALT                    0
AF_ESP                 0
AF_EXAC                0
AF_TGP                 0
CLNDISDB               0
CLNDN                  0
CLNHGVS                0
CLNVC                  0
MC                     0
ORIGIN                 0
CLASS                  0
Allele                 0
Consequence            0
IMPACT                 0
SYMBOL                 0
Feature_type           0
Feature                0
BIOTYPE                0
EXON                8750
cDNA_position       8745
CDS_position        9742
Protein_position    9742
Amino_acids         9758
Codons              9758
STRAND                 0
LoFtool             4031
CADD_PHRED             0
CADD_RAW               0
dtype: int64

In [8]:
df['LoFtool'] = (df['LoFtool'].fillna(method='ffill') + df['LoFtool'].fillna(method='bfill')) / 2
df.isna().sum()

/tmp/ipykernel_33/2464183307.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['LoFtool'] = (df['LoFtool'].fillna(method='ffill') + df['LoFtool'].fillna(method='bfill')) / 2

CHROM                  0
POS                    0
REF                    0
ALT                    0
AF_ESP                 0
AF_EXAC                0
AF_TGP                 0
CLNDISDB               0
CLNDN                  0
CLNHGVS                0
CLNVC                  0
MC                     0
ORIGIN                 0
CLASS                  0
Allele                 0
Consequence            0
IMPACT                 0
SYMBOL                 0
Feature_type           0
Feature                0
BIOTYPE                0
EXON                8750
cDNA_position       8745
CDS_position        9742
Protein_position    9742
Amino_acids         9758
Codons              9758
STRAND                 0
LoFtool                6
CADD_PHRED             0
CADD_RAW               0
dtype: int64

In [9]:
df.dropna(subset=['LoFtool'], inplace=True)

In [10]:
df[['EXON_num', 'EXON_total']] = df['EXON'].str.split('/', expand=True)
df.drop(['EXON'] ,axis = 1 ,inplace = True)
df.isna().sum()

CHROM                  0
POS                    0
REF                    0
ALT                    0
AF_ESP                 0
AF_EXAC                0
AF_TGP                 0
CLNDISDB               0
CLNDN                  0
CLNHGVS                0
CLNVC                  0
MC                     0
ORIGIN                 0
CLASS                  0
Allele                 0
Consequence            0
IMPACT                 0
SYMBOL                 0
Feature_type           0
Feature                0
BIOTYPE                0
cDNA_position       8745
CDS_position        9742
Protein_position    9742
Amino_acids         9758
Codons              9758
STRAND                 0
LoFtool                0
CADD_PHRED             0
CADD_RAW               0
EXON_num            8750
EXON_total          8750
dtype: int64

In [11]:
df['cDNA_position'] = pd.to_numeric(df['cDNA_position'], errors='coerce')
df['cDNA_position'] = df['cDNA_position'].fillna( df['cDNA_position'].mean())

In [23]:
df['cDNA_position']

6        1858.000000
7        2159.000000
8        3562.000000
9        3942.000000
10       3842.000000
            ...
65175     682.000000
65176     986.000000
65179    5099.039379
65184    3118.000000
65187     791.000000
Name: cDNA_position, Length: 35428, dtype: float64

In [12]:
df['CDS_position'] = pd.to_numeric(df['CDS_position'], errors='coerce')
df['CDS_position'] = df['CDS_position'].fillna( df['CDS_position'].mean())

In [13]:
df['Protein_position'] = pd.to_numeric(df['Protein_position'], errors='coerce')
df['Protein_position'] = df['Protein_position'].fillna( df['Protein_position'].mean())

In [14]:
df.dropna(subset=['EXON_num'], inplace=True)
df.dropna(subset=['EXON_total'], inplace=True)
df.isna().sum()

CHROM                  0
POS                    0
REF                    0
ALT                    0
AF_ESP                 0
AF_EXAC                0
AF_TGP                 0
CLNDISDB               0
CLNDN                  0
CLNHGVS                0
CLNVC                  0
MC                     0
ORIGIN                 0
CLASS                  0
Allele                 0
Consequence            0
IMPACT                 0
SYMBOL                 0
Feature_type           0
Feature                0
BIOTYPE                0
cDNA_position          0
CDS_position           0
Protein_position       0
Amino_acids         1013
Codons              1013
STRAND                 0
LoFtool                0
CADD_PHRED             0
CADD_RAW               0
EXON_num               0
EXON_total             0
dtype: int64

In [15]:
most_frequent_value = df['Amino_acids'].mode()[0]
df['Amino_acids'] = df['Amino_acids'].fillna(most_frequent_value)

In [24]:
most_frequent_value

'cGg/cAg'

In [16]:
most_frequent_value = df['Codons'].mode()[0]
df['Codons'] = df['Codons'].fillna(most_frequent_value)

In [20]:
df.shape

(35428, 34)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35428 entries, 6 to 65187
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CHROM             35428 non-null  object
 1   POS               35428 non-null  int64
 2   REF               35428 non-null  object
 3   ALT               35428 non-null  object
 4   AF_ESP            35428 non-null  float64
 5   AF_EXAC           35428 non-null  float64
 6   AF_TGP            35428 non-null  float64
 7   CLNDISDB          35428 non-null  object
 8   CLNDN             35428 non-null  object
 9   CLNHGVS           35428 non-null  object
 10  CLNVC             35428 non-null  object
 11  MC                35428 non-null  object
 12  ORIGIN            35428 non-null  int64
 13  CLASS             35428 non-null  int64
 14  Allele            35428 non-null  object
 15  Consequence       35428 non-null  object
 16  IMPACT            35428 non-null  object
 17  SYMBOL            35428 non-null  object
 18  Feature_type      35428 non-null  object
 19  Feature           35428 non-null  object
 20  BIOTYPE           35428 non-null  object
 21  cDNA_position     35428 non-null  float64
 22  CDS_position      35428 non-null  float64
 23  Protein_position  35428 non-null  float64
 24  STRAND            35428 non-null  float64
 25  LoFtool           35428 non-null  float64
 26  CADD_PHRED        35428 non-null  float64
 27  CADD_RAW          35428 non-null  float64
 28  EXON_num          35428 non-null  object
 29  EXON_total        35428 non-null  object
 30  Amino_acids1      35428 non-null  object
 31  Amino_acids2      35428 non-null  object
 32  Codons1           35428 non-null  object
 33  Codons2           35428 non-null  object
dtypes: float64(10), int64(3), object(21)
memory usage: 9.5+ MB

In [22]:
df.describe()

,POS,AF_ESP,AF_EXAC,AF_TGP,ORIGIN,CLASS,cDNA_position,CDS_position,Protein_position,STRAND,LoFtool,CADD_PHRED,CADD_RAW
count,3.542800e+04,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000,35428.000000
mean,7.744571e+07,0.007786,0.007740,0.008046,1.550807,0.248194,5447.418683,5218.562121,1735.269090,-0.009371,0.352349,21.024041,3.906168
std,5.947490e+07,0.041281,0.042107,0.042102,7.566992,0.431971,13835.832909,13833.362524,4632.186923,0.999970,0.359348,10.776603,3.254322
min,1.387550e+05,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,-1.000000,0.000069,0.001000,-5.477391
25%,3.290041e+07,0.000000,0.000000,0.000000,1.000000,0.000000,948.000000,727.000000,239.000000,-1.000000,0.030500,13.800000,1.591487
50%,5.679813e+07,0.000000,0.000030,0.000000,1.000000,0.000000,1934.000000,1691.000000,551.500000,-1.000000,0.180000,23.300000,3.754884
75%,1.121789e+08,0.000400,0.000490,0.000400,1.000000,0.000000,4381.000000,4108.000000,1306.000000,1.000000,0.714000,27.700000,5.952167
max,2.476080e+08,0.498600,0.499670,0.499800,513.000000,1.000000,108140.000000,107915.000000,35972.000000,1.000000,1.000000,81.000000,34.236720